{block content}

{snippet form}
<div>
	<div class="well">
		<legend><i class="icon-user"></i> {_"Profile form"}</legend>
		{include '../components/form.latte', form => $presenter[profileForm]}
	</div>
</div>
{/snippet}
{/block}