
{block content}

<div>
	<div class="box">
		<legend><i class="icon-edit-sign"></i> {_"Edit user"}</legend>
		{include '../components/form.latte', form => $presenter[userEditForm]}
	</div>

	<div>
		<h1><i class="icon-group"></i> {_"Users"}</h1>
		{control grid}
	</div>
</div>
	
{/block}
