#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	gettextTranslator:
		lang: cs
		files:
			bacon: %appDir%/lang # for module Front and other non-specified modules
		# optional with defaults
		layout: horizontal # or: vertical
		height: 450

	parameters:
		security:
			sessionExpire: '+30 minutes'	# expirace prihlaseni
			sessionLongExpire: '+30 days'	# expirace dlouhodobeho prihlaseni
		user:
			minPasswordLength: 6			# minimalni delka hesla

	dibi:
		host: localhost
		username: bacon
		password: slanink4!
		database: bacon
		lazy: true

	php:
		date.timezone: Europe/Prague
		zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			autoStart: smart
			expiration: +30 days


	services:
		authenticator: Authenticator
		userRepository: User\UserRepository
		routerFactory: RouterFactory
		router: @routerFactory::createRouter


	factories:


production < common:
	parameters:

development < common:
