
{block content}

<div>
	<div class="box">
		<legend><i class="icon-plus-sign"></i> {_"Create new device source"}</legend>
		{include '../components/form.latte', form => $presenter[deviceSourceAddForm]}
	</div>

	<div>
		<h1><i class="icon-link"></i> {_"List of device sources"}</h1>
		{control grid}
	</div>
</div>
	
{/block}