
{block content}

<div>
	<div class="box">
		<legend><i class="icon-edit-sign"></i> {_"Edit authentication group"}</legend>
		{include '../components/form.latte', form => $presenter[authenticationGroupEditForm]}
	</div>

	<div>
		<h1><i class="icon-key"></i> {_"List of authentication groups"}</h1>
		{control grid}
	</div>
</div>
	
{/block}
