
{block content}

<div>
	<div class="sign-in-form box">
		<legend n:block="title"><i class="icon-unlock-alt"></i> {_"Login form"}</legend>
		{include '../components/form.latte', form => $presenter[signInForm]}
	</div>
</div>

{/block}