
{block content}

<div>
	<div>
		<h1><i class="icon-bell-alt"></i> {_"List of current alarms"}</h1>
		{control gridAlarmsError}
	</div>
	<div>
		<h1><i class="icon-warning-sign"></i> {_"List of current warnings"}</h1>
		{control gridAlarmsWarning}
	</div>
</div>
	
{/block}