
{block content}

<div>
	<div class="well">
		<legend><i class="icon-edit-sign"></i> {_"Edit script"}</legend>
		{include '../components/form.latte', form => $presenter[scriptEditForm]}
	</div>

	<div>
		<h1><i class="icon-book"></i> {_"List of scripts"}</h1>
		{control grid}
	</div>
</div>
	
{/block}
