{**
 * @author      Jiri Eger <jiri@eger.us>
 * @link        http://github.com/EgerUS/bacon
 * 
 * Project:     bacon 
 * File:        @layout.latte 
 * Created:     21.5.2013 
 * Encoding:    UTF-8 
 * 
 * Description: My Application layout template
 * 
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 * 
 *}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="robots" content="{$robots}" n:ifset="$robots">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{block title|striptags}bacon{/block}</title>

		<link rel="stylesheet" href="{$basePath}/css/bootstrap/bootstrap.min.css{scache}">
		<link rel="stylesheet" href="{$basePath}/css/bootstrap/bootstrap-responsive.min.css{scache}">
		<link rel="stylesheet" href="{$basePath}/css/bootstrap/datepicker.css{scache}">

		<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome.min.css">
		<!--[if IE 7]>
		<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		
		<!-- Grido --> 
		<link rel="stylesheet" href="{$basePath}/css/grido/gh-fork-ribbon.css">
		<!--[if IE]>
		<link rel="stylesheet" href="{$basePath}/css/grido/gh-fork-ribbon.ie.css{scache}">
		<![endif]-->
		<link rel="stylesheet" href="{$basePath}/css/grido/style.css{scache}">
		<link rel="stylesheet" href="{$basePath}/css/grido/grido.css{scache}">

		<link rel="stylesheet" href="{$basePath}/css/grido-custom.css{scache}">

		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css{scache}">
		<link rel="stylesheet" media="print" href="{$basePath}/css/print.css{scache}">
		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAA7Q8QAAAAAAMfF+gA5Q7EAc6bwAGGI2wCEy/QASVnPAEJK5wB3uOgAOEWTAKWi9wAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREREREREREREREREREREREREREREREYoRERERERM4UxEREQp5EzZhERGghlo4YxERRkMBiqARERERGoiBERERERGoaBERERERGGERERsRERERgRERIbERERERERERERERERERsRERERERERIbERERH//wAA//8AAP//AAD/+QAA/8AAAPgAAADgAQAAgAMAAAAHAACAPwAAwP8AAIPfAADHrwAA7/8AAP7/AAD9fwAA" rel="shortcut icon" type="image/x-icon" />
		
		{block head}{/block}
	</head>

	<body>
		<script> document.body.className+=' js' </script>

		<div id="banner">
			<h1>bacon</h1>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								{if $user->isInRole('admin')}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> {_"Groups"} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{link DeviceGroup:}"><i class="icon-sitemap"></i> {_"Device groups"}</a></li>
										<li><a href="{link AuthenticationGroup:}"><i class="icon-key"></i> {_"Authentication groups"}</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-hdd"></i> {_"Devices"} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{link DeviceSource:}"><i class="icon-link"></i> {_"Device sources"}</a></li>
										<li><a href="{link Device:}"><i class="icon-hdd"></i> {_"Devices"}</a></li>
									</ul>
								</li>
								{/if}
							</ul>
							<ul class="nav pull-right">
								{if $user->isInRole('admin')}
								<li class="divider-vertical"></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-spin"></i> {_"Administration"} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{link Users:}"><i class="icon-group"></i> {_"Users"}</a></li>
									</ul>
								</li>
								{/if}
								{if $user->isLoggedIn()}
								<li class="divider-vertical"></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {$user->getIdentity()->username} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{link Profile:}"><i class="icon-heart"></i> {_"Profile"}</a></li>
										<li><a n:href="signOut!"><i class="icon-off"></i> {_"Sign out"}</a></li>
									</ul>
								</li>
								{/if}
								<li class="divider-vertical"></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-flag"></i> {_"Language"} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a n:href="this, lang => cs"><i class="icon-flag"></i> {_"Česky"}</a></li>
										<li><a n:href="this, lang => en"><i class="icon-flag"></i> {_"English"}</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /.nav-collapse -->
					</div>
				</div><!-- /navbar-inner -->
			</div><!-- /navbar -->
		</div><!-- /banner -->

		<div id="content">
			{if $user->isLoggedIn()}
				{if !$user->getIdentity()->email}
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<a n:href="Profile:">{_"Please fill in the missing email in your profile !"}</a>
					</div>
				{/if}
			{/if}

			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{$flash->message}
			</div>

			{include #content}

			<footer>Copyright &copy; 2013 Jiri Eger | backup control | Powered by Nette Framework {=Nette\Framework::VERSION}</footer>
		</div>

		{block scripts}
		<script src="{$basePath}/js/jquery/jquery-1.8.3.min.js"></script>
        <script src="{$basePath}/js/jquery/jquery.hashchange.min.js"></script>
        <script src="{$basePath}/js/jquery/jquery.maskedinput.min.js"></script>
        <script src="{$basePath}/js/jquery/jquery.nette.js"></script>
        <script src="{$basePath}/js/jquery/jquery.ajaxform.js"></script>
		
        <script src="{$basePath}/js/bootstrap/bootstrap.min.js"></script>
        <script src="{$basePath}/js/bootstrap/bootstrap-datepicker.js"></script>
        <script src="{$basePath}/js/bootstrap/bootstrap-datepicker.cs.js"></script>

		<!-- Grido --> 
        <script src="{$basePath}/js/grido/jquery.grido.js{scache}"></script>
        <script src="{$basePath}/js/grido/utils.js{scache}"></script>
		<!--<script src="{$basePath}/js/grido/ajax.js"></script>-->
		
		<script src="{$basePath}/js/netteForms.js"></script>
<!--		<script src="{$basePath}/js/nette.ajax.js"></script>

		<script type="text/javascript">
			$(function () {
				$.nette.init();
			});
		</script>-->
		{/block}
	</body>
</html>
