.btn.search, .btn.reset {
	line-height: 15px;
	font-size: 10.5px;
	font-family: verdana;
}

.grido {
	font: 10px Verdana;
}

.grido th,
.grido td
 {
    padding: 0 5px 0 5px;
    border:solid #CACACA;
    border-width: 0 1px 1px 0;
    height: 30px;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	table-layout: fixed;
}

.grido.filter.outer .items {
    width: 87%;
    float: left;
}

.grido input.date {background: url('../images/grido/cal.jpg') #fff no-repeat right center}

.grido .right {text-align: right}
.grido .empty {background: #FBFBFB url(../images/grido/bg.jpg) 0 0 repeat}


.grido td.actions {
	padding: 0 1px 0 1px;
	white-space: nowrap;
}

.grido th.actions {
	min-width: 120px;
}
