body {
	font: 10px Verdana;
	background: #3484d2;
	color: #333;
	margin: 38px auto;
	min-width: 1250px;
	width: 91%;
}

h1, h2 {
	font: 15px Verdana;
	color: #1e5eb6;
	-webkit-text-stroke: 1px rgba(0,0,0,0);
}

#banner {
	background: #7e0000;  /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#7e0000, #d45000);
	background: -o-linear-gradient(#7e0000, #d45000);
	background: -webkit-linear-gradient(#7e0000, #d45000);
	border-radius: 12px 12px 0 0;
}

#banner h1 {
	color: white;
	font-size: 70px;
	line-height: 121px;
	margin: 0;
	padding-left: 40px;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, .9);
	filter: shadow(color=#000000, direction=135, Strength=4);
}

.navbar { 
	margin-bottom: 0px;
} 

.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#content {
	background: white;
	border: 1px solid #eff4f7;
	border-radius: 0 0 12px 12px;
	padding: 10px 40px;
}

footer {
	font-size: 9px;
	padding: 1em 0;
	text-align: center; 
	color: gray;
}



#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: green;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

div.flash.success {
	background: #D1FF9F;
	color: #264409;
	border-color: #C6D880;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash.error {
	background: #FFA6A6;
	color: #8a1f11;
	border-color: #FBC2C4;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form tr, form td {
	vertical-align: top;
	font-weight: normal;
}

form label {
	margin-top: 5px;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.box {
	font: 10px Verdana;
	white-space: nowrap;
	background: #f0f0f0;
	margin-bottom: 10px;
	padding: 3%;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}


.box img {
	float: left;
}

.box p {
	clear: both;
}

.box:nth-child(4n - 2) h2 {
	color: #00a6e5;
}

.box:nth-child(4n - 2) img {
	margin: -24px 0 0 -24px;
}

.box:nth-child(4n - 1) h2 a {
	color: #db8e34;
	background: transparent;
}

.box:nth-child(4n) {
	margin: 0;
}

.box:nth-child(4n) h2 a {
	color: #578404;
	background: transparent;
}

.box th {
	text-align: right;
	padding-right: 20px;
}

.sign-in-form {
	width: 400px;
	margin: auto;
}

.sign-in-form h1 {
	border-bottom: 1px solid;
}
