body {
	font: 14px Verdana;
	background: #3484d2;
	color: #333;
	margin: 40px;
	/*min-width: 1250px;*/
	/*width: 91%;*/
}

i { font-size: 1em; }

h1, h2 {
	font: 14px Verdana;
	color: #1e5eb6;
	-webkit-text-stroke: 1px rgba(0,0,0,0);
}
h1 i {
	color: #000000;
}

#banner {
	background: #7e0000;  /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#7e0000, #d45000);
	background: -o-linear-gradient(#7e0000, #d45000);
	background: -webkit-linear-gradient(#7e0000, #d45000);
	border-radius: 12px 12px 0 0;
}

#banner h1 {
	color: white;
	font-size: 70px;
	line-height: 121px;
	margin: 0;
	padding-left: 40px;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, .9);
	filter: shadow(color=#000000, direction=135, Strength=4);
}

.navbar { 
	margin-bottom: 0px;
} 

.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#content {
	background: white;
	border: 1px solid #eff4f7;
	border-radius: 0 0 12px 12px;
	padding: 10px 40px;
}

footer {
	font-size: 9px;
	padding: 1em 0;
	text-align: center; 
	color: gray;
}



#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form tr, form td {
	vertical-align: top;
	font-weight: normal;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.sign-in-form {
	width: 500px;
	margin: auto;
}

form #frmscriptAddForm-commands, #frmscriptEditForm-commands {
	width: 100%;
}

form #frmlogViewForm-message {
	width: 100%;
}